body {
    background-image: url("https://img.freepik.com/premium-photo/this-illustration-is-made-islamic-mega-event-eid-ul-adha_790062-17926.jpg?w=740");
    background-repeat: repeat;
    background-size: strech;

  }
  h1 {
    text-align: center;
    color: rgb(252, 252, 252);
    margin-top: 50px;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
  }
  
  .box {
    height: 100px;
    min-width: 100px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    color: white;
    flex-direction: column;
  }
  
  .heading {
    font-size: 20px;
    margin-bottom: 6px;
  }